@font-face {
    font-family: 'F1Font';
    src: url('fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'F1Font';
    src: url('fonts/Formula1-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'F1Font';
    src: url('fonts/Formula1-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'F1Font';
    src: url('fonts/Formula1-Wide.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
}

.f1-regular {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

.f1-bold {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 700;
    font-style: normal;
}

.f1-italic {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 400;
    font-style: italic;
}

.f1-wide {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
    font-size: 3rem;
}

/* Navbar */
.glass-navbar {
    margin-top: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 1rem;
    z-index: 10;
}

.navbar-links .nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar-links .nav-link:hover {
    color: #FF1801;
}

/* Hero Section e2 */
.hero-section {
    height: 70vh;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

/* for fontsz */
.f1-wide {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
    color: #FF1801;
}

.f1-regular {
    font-family: 'F1Font', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}