@font-face {
    font-family: 'F1-Regular';
    src: url('fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Bold';
    src: url('fonts/Formula1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Italic';
    src: url('fonts/Formula1-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Wide';
    src: url('fonts/Formula1-Wide.ttf') format('truetype');
}

.f1-regular {
    font-family: 'F1-Regular', sans-serif;
}

.f1-bold {
    font-family: 'F1-Bold', sans-serif;
}

.f1-italic {
    font-family: 'F1-Italic', sans-serif;
}

.f1-wide {
    font-family: 'F1-Wide', sans-serif;
    font-stretch: expanded;
}

body {
    font-family: 'F1-Regular', sans-serif;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(50px) saturate(180%);
    z-index: 10;
}

.navbar-links .nav-link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-links .nav-link:hover {
    color: #FF1801;
}

.team-card img,
.track-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, filter 0.3s;
}

.team-card:hover img {
    transform: scale(1.2);
}

.track-card:hover img {
    transform: scale(1.05);
}

.team-card .card-body,
.track-card .card-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.team-card:hover .card-body,
.track-card:hover .card-body {
    opacity: 1;
}

.tracks,
.teams,
.hero-section {
    margin-bottom: 4rem;
}

.driver-card .card-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.driver-card:hover .card-body {
    opacity: 1;
}

.driver-card img {
    width: 100%;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}

.driver-card:hover img {
    transform: scale(1.05);
}